html {
    line-height: 1.15; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }